@charset "utf-8";
/* CSS Document */

body,td,th,p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

body 
{
	background-color: #fdfdfd;
	margin: 0;
  box-sizing: border-box;
	position:relative;
}

ul, li 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}

a 
{
	color: #C4E8A1;
	text-decoration: none;
}

a:hover, a:focus 
{
  outline-color: green;
	color: #D82E56;
	text-decoration: none;
}

a img
{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
  color:#7DC6CF;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
	display: block;
}

#maincontent 
{
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 100%;
}

#footer 
{
  background-color: #562222;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav 
{
  display: flex;
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
  align-items: center;
  justify-content: center;
}

nav h1 
{
  margin: auto;
}

nav h1 a 
{
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb 
{
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    display: flex;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Display list items side by side */

#breadcrumb li 
{
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before 
{
    padding: 8px;
    color: #C97575;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a 
{
    color: #13324D;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover 
{
    color: #142145;
    outline-color: green;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map 
{
  max-height: 400px;
  height: 80vw;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options 
{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: #3397DB;
  align-items: center;
  text-align: center;
  padding-top: 1%;
}

.filter-options h2 
{
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 3%;
}

.filter-options select 
{
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}

.filter-options :hover :focus 
{
  outline-color: red;
  background-color: red;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list 
{
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#restaurants-list li 
{
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  display: flex;
  flex-flow: column wrap;
  padding: 0 30px 25px;
  text-align: left;
  flex-shrink: 1;
  /*width: 100%;*/
  max-width: 100%;
}

#restaurants-list .restaurant-img 
{
  background-color: #ccc;
  display: block;
  border-radius: 10px;
  margin-top: 3%;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
}

#restaurants-list li h2 
{
  color: #f18200;
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p 
{
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}

#restaurants-list li a 
{
  background-color: orange;
  border-bottom: 3px solid #eee;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside 
{
  display: flex;
  flex-flow: column wrap;
}

.inside header 
{
  /*position: fixed;*/
  top: 0;
  height: auto;
  width: 100%;
  /*z-index: 1000;*/
}

.inside #map-container 
{
  background: blue none repeat scroll 0 0;
  padding: 0;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
}

.inside #map 
{
  background-color: #ccc;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}

.inside #footer 
{
  bottom: 0;
  width: 100%;
}

#restaurant-name 
{
  color: #642DA7;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 2% 0 3%;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img 
{
	width: 100%;
}

#restaurant-address 
{
  font-size: 12pt;
  margin: 4% 2% 3% 2%;
  letter-spacing: 2px;
  line-height: 1.1;
  align-self: center;
}

#restaurant-cuisine 
{
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 1% 0 4%;
  padding: 2% 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container 
{
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
  margin: 1% 2% 1% 2%;
}

#reviews-container 
{
  padding: 1% 2% 1% 2%;
}

#reviews-container h2 
{
  color: #1A843F;
  font-size: large;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list 
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

#reviews-list li 
{
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#reviews-list li p 
{
  margin: 0 0 10px;
}

#reviews-list :last-child 
{
  margin-bottom: 0;
}

#restaurant-hours td 
{
  color: #666;
}
